<<<<<<< HEAD
body{
	height: 800px;
}

.container {
	width: 65%;
	height: 600px;
	margin-top: 100px
	margin-left: 50px;
	float: left;
	background: #FFC708;
	display: block;
	vertical-align: top;
}

#nav-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	background-color: rgb(220,220,220);
}

.inner {
	width: 60%;
	height: 400px;
	background: #F06D00;
	margin: auto;
	margin-top: 150px;
}

.inner2 {
	width: 60%;
	height: 200px;
	background: #FE0B07;
	margin: auto;
	margin-top: 150px;
}

.text {
	width: 28%;
	height: 600px;
	background: rgb(230,230,230);
	display: block;
	margin-top: 10%;
	margin-left: 70%;
	vertical-align: top;
=======
body{
	height: 800px;
}

.container {
	width: 65%;
	height: 600px;
	margin-top: 100px
	margin-left: 50px;
	float: left;
	background: #FFC708;
	display: block;
	vertical-align: top;
}

#nav-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	background-color: rgb(220,220,220);
}

.inner {
	width: 60%;
	height: 400px;
	background: #F06D00;
	margin: auto;
	margin-top: 150px;
}

.inner2 {
	width: 60%;
	height: 200px;
	background: #FE0B07;
	margin: auto;
	margin-top: 150px;
}

.text {
	width: 28%;
	height: 600px;
	background: rgb(230,230,230);
	display: block;
	margin-top: 10%;
	margin-left: 70%;
	vertical-align: top;
>>>>>>> 03d3336b9c14db91baddb22c6133da0f14ad31f3
}